html {
    line-height: 1.15;
}

/* BODY */
body {
    font-family:sans-serif;
    font-size: 1.1em;
    border-width: 110%;
    margin:0;
    padding:0;
    background-image: linear-gradient(#0B141C,#B1D8FF)
}

/* HEADER */
.panel {
    background-image: linear-gradient(to right, #c3c76b, #0e0816);
    position:fixed;
    display:flex;
    margin: 0em;
    top:0%;
    width:100%;
    height:8%;
}

.header-list {
    list-style-type: none;
    display:flex;
    margin: auto; /* Detrimental to position in the rest */
    gap: 2em;
    width:90%;
    align-items: flex-start;
    position:fixed;
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    top:1em;
}

/* .head-bar li {
    padding: 1em;
    color:rgb(91, 32, 32); 
    padding-bottom: 1em;
    display: inline-block;
} */

.titleshot {
    color: rgb(92, 100, 111);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5rem;
    margin-right: auto;
    align-self: flex-start;
}

.social-media-pic {
    width: 3.5em;
    padding-bottom: 5em;
}

.large-image {
    width:100%;
    height:auto;
    left:0;
    margin-top: 2em;
}
.minecraft {
    width:100%;
}

/*
.head-bar {
    background-image: linear-gradient(to right, #89C1F3, #550DBC);
    position: fixed;
    left: 0;
    right:2;
    margin: 0em;
    top: 0%;
    width: 100%;
    height: 4em;
    /* DISPLAY
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
}
*/


/* ARTICLE WHO */
/* .who {
    max-width:85%;
    margin: 40px auto;
    text-align: center;
    font-size:1.5em;
} */

.yolo {
    font-family: sans-serif;
    margin: 50px auto;
    text-align: center;
    font-size: 40px;
    max-width: 100%;
    position: relative;
    color: white;
}

.yolo:before {
    content: "";
    display: block;
    width: 37%;
    height: 2px;
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
}

.yolo:after {
    content: "";
    display:block;
    width: 37%;
    height: 2px;
    background: white;
    position: absolute;
    right: 0;
    top: 50%;
}


/* .hr-text {
        line-height: 1em;
        position:relative;
        outline:0;
        border:0;
        color:darkblue;
        text-align:center;
        height:1.5em;
        opacity:.5;
} */
        /* .hr-text:before {
            content:;
            background:(to right, transparent, #420730, transparent);
            position: absolute;
            left: 0;
            top: 50%;
            width: 100%;
            height: 3px;
        } */
        /* .hr-text:after {
            content: attr(data-content);
            position: relative;
            display: inline-block;
            color: darkblue;
            background-color: #fcfcfa;
        } */

/* INSIDE THE GRID */

.team {
    width: 95%;
    height: auto;
}

.setup {
    width: 95%;
    height: auto;
}

.history {
    text-align: center;
}

.sub-history {
    text-align: justify;
    font-size: 1em;
}

.wrapper {
    width:90%;
    display:grid;
    margin: auto;
    grid-template-columns:30% 35% 30%;
    justify-content:center;
    gap: 2em;
    text-align:center;
    /* background-color: #391249; */
    /* How would i get it to wrap around the grid boxes ? */
}

.wrapper > article {
    background:rgb(84, 105, 169);
    padding:15px;
    border: 1px solid rgb(24, 4, 24);
    box-shadow: 5px 10px 15px black;
}
.wrapper > article:nth-child(odd) {
    background:rgb(128, 143, 155);
}

/* WHY WE EXIST */

.reasons {
    display:flex;
    margin:0;
    justify-content: space-around;
}

.second-list {
    list-style-type: none;
    line-height: 300%;
    font-size: 1em;
}

/* SCROOGE */

.moneymoney {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.scrooge {
    width: 15em;
    margin: 30px;
}

.bioshock {
    font-family: 'Creepster', cursive;
    font-size: 5em;
}

.video {
    display: flex;
    justify-content: center;
}


/*  FOOTER  */

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
